.containerAbout {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 80%;
    
}
.border {
    margin-top: 10vh;
    border: 3px solid red;
}
h2 {
    margin: 3vh auto 3vh;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 0px 70px;
}
p {
    margin: 2vh auto 1vh;
    text-align: center;
    padding: 0px 50px;
}
@media  screen and (max-width: 768px) {
    .border {
        margin-top: 15vh;
    }
    h2 {
        margin: 3vh auto 3vh;
        font-size: 20px;
        padding: 0px;
    }
    p {
        padding: 0px;
    }
    footer {
        width:85%;
    }
}